.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin:6rem 0;
    width: 100%;

}

.container h2{
    font-size: 37px;
}
.form-container{
    display: flex;
    border-radius: 16px;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32rem;
    box-shadow: 0 4px 10px 10px rgba(0, 0, 0, 0.3);
}

.form-container form{
    width: 100%;
    border-top: 2px solid #afafaf;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.field{
    width: 80%;
    border: none;
    outline: none;
    border-bottom: 3px solid #afafaf;
    padding: 12px;
    margin: 20px 12px;
}

.field input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
}

.btn input {
    width: 100%;
    margin: 1rem 0;
    padding: 10px;
    font-size: 20px;
    border-radius: 21px;
    border: 2px solid black;
    outline: none;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;

}


.navigate{
    padding: 4px;
    margin: 15px 0;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: bold;
}

.add-blog{
    width: 50rem;
}

.add-blog textarea{
    width: 100%;
    border: none;
    outline: none;
    height: 6rem;
    font-size: 16px;
}

.add-blog .field{
    border: 2px solid #afafaf;
    border-radius: 4px;
}
.add-blog .btn{
    padding-bottom: 2.5rem;
}


.card-container{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    margin: 50px;
    margin-inline: auto;
    position: relative;
    top: 5rem;
    max-width: 1340px;
}
.card-content a {
    text-decoration: none;
    color: #ffd75c;
    font-size: 19px;
    font-weight: bold;
    transition:.4s;

}

.card-content a:hover {
    scale: 1.2;
    color: white;
}

.card-content button{
    color: #ffd75c;
    background-color: none;
    background: none;
    border: none;
    outline: none;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    transition:.4s;
}

.card-content button:hover {
    font-size: 20px;
    color: white;
}
.delete{
    display: flex;
    justify-content: space-between;
}
.card {
    /* background-color: white; */
    border-radius: 8px;
    box-shadow: 0 4px 10px 10px rgba(0, 0, 0, 0.3);
    transition:.4s;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 2px solid #ccc;
}
.card-img{
    width: 100%;
    height: 300px;
    
}
.card-img img{
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
}

.card-content{
    padding: 12px;
}

.card:hover{
    scale: 1.03;
}
nav {
    background-color: #f8f9fb;
    border-radius: 0 0 12px 12px;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 20;
  }
  
  nav a {
    color: #764abc;
    text-transform: uppercase;
    margin: 0 8px;
    text-decoration: none;
    padding: 8px;
  }
  
  nav a:hover {
    border-bottom: 2px solid #764abc;
  }


  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    font-size: 16px;
    font-weight: bold;
  }
  
  
.nav-btn button{
    background: none;
    border: none;
    color: #764abc;
    font-size: 19px;
    font-weight: bold; 
    cursor: pointer;
}
.nav-link-item{
    display: flex;
    font-size: 19px;
    font-weight: bold;
}
.nav-btn{
    background: none;
    color: #764abc;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.cont {
    max-width: 1340px;
    margin-inline: auto;
}

.blog-container{   
    border: 2px solid #ccc;
    margin: 20px;
    padding: 2rem;
    max-width: 1250px;
    margin-inline: auto;
    margin-top: 8.5rem;
    margin-bottom: 3%;
    border-radius: 20px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    box-shadow: 0 3px 15px 5px rgba(0, 0, 0, 0.3);
    /* color: white; */
}

.blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container{
    width: 93%;
    height: 40vw;
}

.image-container img{
    width: 100%;
    height: 100%;
}

.blog-contenet{
    width: 93%;
}

.edit-blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:6rem 0;
}
.edit-blog{
    margin-top: 20px;
}

.actions {
width: 80%;
}


.field-error {
    color: #ff0000; 
    font-size: 14px; 
    margin-top: 5px; 
}

.comment-container{
    max-width: 1320px;
    margin-inline: auto;
    font-size: 24px;
}
.comment-container p{
    margin-top: -32px;
}

.comment-input{
    max-width: 1320px;
    margin-inline: auto;
    position: sticky;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    padding: 8px;
}

.comment-input form{
    display: flex;
    gap: 20px;
    width: 100%;
}

.comment-input form input{
    font-size: 18px;
    width: 100%;
    border: none;
    outline: none;
}

.comment-text{
width: 93%;
border-bottom: 3px solid #cccc;
}

.comment-btn{
    padding: 11px;
    border-radius: 11px;
    border: 1px solid;
    background-color: #cccccc;
    cursor: pointer;
}

.comment-btn input{
    background: none;
    cursor: pointer;
}

.has-error{
    border-bottom: 2px solid red;
}

.form-border-error{
    border: 2px solid red;
}
.btn-div{
    display: flex;
    gap: 12px;
    margin-top: -21px;
    margin-bottom: 11px;
}

.btn{
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: #764abc;
}

.btn-danger{
    color: red;
    margin-bottom: 10px ;
}

.create-blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
